<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>tom_walk.png</key>
	<dict>
		<key>dying</key>
		<dict>
			<key>next</key>
			<string>dead</string>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
			<key>anim</key>
			<string>0,12,6,0,12,6</string>
		</dict>
		<key>dead</key>
		<dict>
			<key>time</key>
			<string>2000</string>
			<key>anim</key>
			<string>33</string>
		</dict>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,2000</string>
			<key>anim</key>
			<string>18,19,20,21</string>
		</dict>
		<key>idle-up</key>
		<dict>
			<key>time</key>
			<string>100,100,100,2000</string>
			<key>anim</key>
			<string>22,23,24,22</string>
		</dict>
		<key>idle-right</key>
		<dict>
			<key>time</key>
			<string>100,100,100,2000</string>
			<key>anim</key>
			<string>25,26,27,25</string>
		</dict>
		<key>idle-left</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>time</key>
			<string>100,100,100,2000</string>
			<key>anim</key>
			<string>25,26,27,25</string>
		</dict>
		<key>jumping</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>18</string>
		</dict>
		<key>anchor</key>
		<string>16,10</string>
		<key>walkup</key>
		<dict>
			<key>anim</key>
			<string>6,7,8,9,10,11</string>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
		</dict>
		<key>walkdown</key>
		<dict>
			<key>anim</key>
			<string>0,1,2,3,4,5</string>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
		</dict>
		<key>walkleft</key>
		<dict>
			<key>anim</key>
			<string>12,13,14,15,16,17</string>
			<key>flipHorizontal</key>
			<true/>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
		</dict>
		<key>walkright</key>
		<dict>
			<key>anim</key>
			<string>12,13,14,15,16,17</string>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
		</dict>
		<key>celebration</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100,100,2000</string>
			<key>anim</key>
			<string>28,29,30,31,32,31,30,29</string>
		</dict>
		<key>frameSize</key>
		<string>32x64</string>
	</dict>
	<key>emuchick.png</key>
	<dict>
		<key>dying</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100</string>
			<key>anim</key>
			<string>0,12,6,0,12,6</string>
		</dict>
		<key>anchor</key>
		<string>16,6</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>11,12,13,12</string>
		</dict>
		<key>idle-up</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>6,7,8,7</string>
		</dict>
		<key>idle-right</key>
		<dict>
			<key>anim</key>
			<string>1</string>
			<key>flipHorizontal</key>
			<true/>
			<key>time</key>
			<string>1000</string>
		</dict>
		<key>idle-left</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>1</string>
		</dict>
		<key>walkup</key>
		<dict>
			<key>anim</key>
			<string>5,6,7,8,9</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>walkdown</key>
		<dict>
			<key>anim</key>
			<string>10,11,12,13,14</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>walkleft</key>
		<dict>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>walkright</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>frameCount</key>
		<integer>15</integer>
	</dict>
	<key>cat.png</key>
	<dict>
		<key>anchor</key>
		<string>16,6</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>21,22,23,24</string>
		</dict>
		<key>idle-up</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>17,18,19,20</string>
		</dict>
		<key>idle-right</key>
		<dict>
			<key>anim</key>
			<string>13,14,15,16</string>
			<key>time</key>
			<string>100,100,100,100</string>
		</dict>
		<key>idle-left</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>13,14,15,16</string>
			<key>time</key>
			<string>100,100,100,100</string>
		</dict>
		<key>walkup</key>
		<dict>
			<key>anim</key>
			<string>5,6,7,8</string>
			<key>time</key>
			<string>100,100,100,100</string>
		</dict>
		<key>walkdown</key>
		<dict>
			<key>anim</key>
			<string>9,10,11,12</string>
			<key>time</key>
			<string>100,100,100,100</string>
		</dict>
		<key>walkleft</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>walkright</key>
		<dict>
			<key>anim</key>
			<string>0,1,2,3,4</string>
			<key>time</key>
			<string>100,100,100,100,100</string>
		</dict>
		<key>frameSize</key>
		<string>32x32</string>
	</dict>
	<key>mouse.png</key>
	<dict>
		<key>dying</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>18,19,20</string>
		</dict>
		<key>anchor</key>
		<string>16,16</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>15,16,17</string>
		</dict>
		<key>idle-up</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>12,13,14</string>
		</dict>
		<key>idle-right</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>9,10,11</string>
		</dict>
		<key>idle-left</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>9,10,11</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>walkup</key>
		<dict>
			<key>anim</key>
			<string>3,4,5</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>walkdown</key>
		<dict>
			<key>anim</key>
			<string>6,7,8</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>walkleft</key>
		<dict>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>0,1,2</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>walkright</key>
		<dict>
			<key>anim</key>
			<string>0,1,2</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>frameSize</key>
		<string>32x32</string>
	</dict>
	<key>log.png</key>
	<dict>
		<key>anchor</key>
		<string>64,27</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>0,1,0,2</string>
		</dict>
		<key>sinking</key>
		<dict>
			<key>next</key>
			<string>sunk</string>
			<key>anim</key>
			<string>3,4,5</string>
			<key>time</key>
			<string>500,500,500</string>
		</dict>
		<key>rising</key>
		<dict>
			<key>next</key>
			<string>idle</string>
			<key>anim</key>
			<string>5,4,3</string>
			<key>time</key>
			<string>100,100,100</string>
		</dict>
		<key>frameCount</key>
		<integer>6</integer>
		<key>sunk</key>
		<dict>
			<key>anim</key>
			<string>5</string>
			<key>time</key>
			<string>1000</string>
		</dict>
	</dict>
	<key>croc.png</key>
	<dict>
		<key>anchor</key>
		<string>64,11</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>0,1,2,1,0</string>
		</dict>
		<key>idle-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>0,1,2,1,0</string>
		</dict>
		<key>attack</key>
		<dict>
			<key>next</key>
			<string>idle</string>
			<key>anim</key>
			<string>3,4,5,6,7,8,9,10,11,5,4,3</string>
			<key>time</key>
			<string>50,50,50,50,50,100,100,100,100,200,200,100</string>
		</dict>
		<key>attack-flip</key>
		<dict>
			<key>next</key>
			<string>idle-flip</string>
			<key>flipHorizontal</key>
			<true/>
			<key>anim</key>
			<string>3,4,5,6,7,8,9,10,11,5,4,3</string>
			<key>time</key>
			<string>50,50,50,50,50,100,100,100,100,200,200,100</string>
		</dict>
		<key>frameSize</key>
		<string>128x128</string>
	</dict>
	<key>plant.png</key>
	<dict>
		<key>frameCount</key>
		<integer>1</integer>
		<key>anchor</key>
		<string>27,6</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>0</string>
		</dict>
	</dict>
	<key>mcguffin.png</key>
	<dict>
		<key>frameCount</key>
		<integer>3</integer>
		<key>anchor</key>
		<string>16,8</string>
		<key>idle</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>0,1,0,2</string>
		</dict>
	</dict>
	<key>lion-rawr.png</key>
	<dict>
		<key>anchor</key>
		<string>64,32</string>
		<key>asleep</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>0</string>
		</dict>
		<key>waking</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>1</string>
		</dict>
		<key>alert</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>2</string>
		</dict>
		<key>attacking</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>3</string>
		</dict>
		<key>frameCount</key>
		<integer>5</integer>
	</dict>
	<key>buttons.png</key>
	<dict>
		<key>anchor</key>
		<string>32,47</string>
		<key>up</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>0</string>
		</dict>
		<key>up-green</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>2</string>
		</dict>
		<key>up-red</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>4</string>
		</dict>
		<key>down</key>
		<dict>
			<key>next</key>
			<string>up</string>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>1</string>
		</dict>
		<key>down-green</key>
		<dict>
			<key>next</key>
			<string>up-green</string>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>3</string>
		</dict>
		<key>down-red</key>
		<dict>
			<key>next</key>
			<string>up-red</string>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>5</string>
		</dict>
		<key>frameCount</key>
		<integer>6</integer>
	</dict>
	<key>lion.png</key>
	<dict>
		<key>anchor</key>
		<string>32,10</string>
		<key>asleep</key>
		<dict>
			<key>time</key>
			<string>200,100,300,100,200</string>
			<key>anim</key>
			<string>3,4,5,4,3</string>
		</dict>
		<key>waking</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100,100,100</string>
			<key>anim</key>
			<string>6,7,6,8,9,10,9,6</string>
		</dict>
		<key>alert</key>
		<dict>
			<key>time</key>
			<string>200,400,200,400</string>
			<key>anim</key>
			<string>16,17,16,18</string>
		</dict>
		<key>attacking</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>11,12,13,14,15</string>
		</dict>
		<key>alert transition</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>0,1,2</string>
		</dict>
		<key>asleep-flip</key>
		<dict>
			<key>time</key>
			<string>200,100,300,100,200</string>
			<key>anim</key>
			<string>3,4,5,4,3</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>waking-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100,100,100</string>
			<key>anim</key>
			<string>6,7,6,8,9,10,9,6</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>alert-flip</key>
		<dict>
			<key>time</key>
			<string>200,400,200,400</string>
			<key>anim</key>
			<string>16,17,16,18</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>attacking-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>11,12,13,14,15</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>alert transition-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>0,1,2</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>frameSize</key>
		<string>64x32</string>
	</dict>
	<key>lioness.png</key>
	<dict>
		<key>anchor</key>
		<string>32,10</string>
		<key>asleep</key>
		<dict>
			<key>time</key>
			<string>200,100,300,100,200</string>
			<key>anim</key>
			<string>3,4,5,4,3</string>
		</dict>
		<key>waking</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100,100,100</string>
			<key>anim</key>
			<string>6,7,6,8,9,10,9,6</string>
		</dict>
		<key>alert</key>
		<dict>
			<key>time</key>
			<string>200,400,200,400</string>
			<key>anim</key>
			<string>16,17,16,18</string>
		</dict>
		<key>attacking</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>11,12,13,14,15</string>
		</dict>
		<key>alert transition</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>0,1,2</string>
		</dict>
		<key>asleep-flip</key>
		<dict>
			<key>time</key>
			<string>200,100,300,100,200</string>
			<key>anim</key>
			<string>3,4,5,4,3</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>waking-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100,100,100,100</string>
			<key>anim</key>
			<string>6,7,6,8,9,10,9,6</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>alert-flip</key>
		<dict>
			<key>time</key>
			<string>200,400,200,400</string>
			<key>anim</key>
			<string>16,17,16,18</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>attacking-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100,100</string>
			<key>anim</key>
			<string>11,12,13,14,15</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>alert transition-flip</key>
		<dict>
			<key>time</key>
			<string>100,100,100</string>
			<key>anim</key>
			<string>0,1,2</string>
			<key>flipHorizontal</key>
			<true/>
		</dict>
		<key>frameSize</key>
		<string>64x32</string>
	</dict>
	<key>mazedoor.png</key>
	<dict>
		<key>anchor</key>
		<string>16,0</string>
		<key>closed</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>0</string>
		</dict>
		<key>closed-red</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>4</string>
		</dict>
		<key>closed-green</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>5</string>
		</dict>
		<key>closed-blue</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>6</string>
		</dict>
		<key>open</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>3</string>
			<key>next</key>
			<string>closing</string>
		</dict>
		<key>opening</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>0,1,2,3</string>
			<key>next</key>
			<string>open</string>
		</dict>
		<key>closing</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>3,2,1,0</string>
			<key>next</key>
			<string>closed</string>
		</dict>
		<key>frameSize</key>
		<string>32x64</string>
	</dict>
	<key>mazedoor-horizontal.png</key>
	<dict>
		<key>closed-blue</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>6</string>
		</dict>
		<key>closed-green</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>5</string>
		</dict>
		<key>closed-red</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>4</string>
		</dict>
		<key>anchor</key>
		<string>32,16</string>
		<key>closed</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>0</string>
		</dict>
		<key>open</key>
		<dict>
			<key>time</key>
			<string>1000</string>
			<key>anim</key>
			<string>3</string>
			<key>next</key>
			<string>closing</string>
		</dict>
		<key>opening</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>0,1,2,3</string>
			<key>next</key>
			<string>open</string>
		</dict>
		<key>closing</key>
		<dict>
			<key>time</key>
			<string>100,100,100,100</string>
			<key>anim</key>
			<string>3,2,1,0</string>
			<key>next</key>
			<string>closed</string>
		</dict>
		<key>frameSize</key>
		<string>64x32</string>
	</dict>
</dict>
</plist>
